{% extends "with-choices.html" %}

{% block content %}

<h4>修改客户信息</h4>

<form class="pt-3" action="/customer/change" method="POST">
  <div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label">身份证号</label>
    <div class="col-sm-3">
      <select class="form-control choices-issue" name="id">
        {% for c in customerids %}
        <option value="{{ c.real_id }}">{{ c.id }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label">新身份证号</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="customer_id" maxlength="18" />
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">姓名</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="name" maxlength="32" />
    </div>
  </div>
  <div class="form-group row">
    <label for="tel" class="col-sm-2 col-form-label">电话</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="tel" maxlength="20" />
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">地址</label>
    <div class="col-sm-3">
      <!-- TODO: wider -->
      <input type="text" class="form-control" name="address" maxlength="128" />
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">联系人</label>
    <div class="col-sm-3">
      <select class="form-control choices-issue" name="contacter_id">
        {% for c in contacters %}
        <option value="{{ c }}">{{ c }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">与联系人的关系</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="relation" maxlength="10" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
</form>

{% endblock content %}
