{% extends "with-choices.html" %}

{% block content %}

<h4>增加贷款</h4>

<form class="pt-3" id="loan-add">
  <div class="form-group row">
    <label for="id" class="col-sm-1 col-form-label">ID</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="id" maxlength="11" required />
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-1 col-form-label">数额</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="amount" required />
    </div>
  </div>
  <div class="form-group row">
    <label for="bank" class="col-sm-1 col-form-label">支行</label>
    <div class="col-sm-3">
      <select class="form-control choices-issue" name="bank">
        {% for b in banks %}
        <option value="{{ b }}">{{ b }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="customers" class="col-sm-1 col-form-label">客户</label>
    <div class="col-sm-3">
      <select class="form-control choices-issue" name="customers" multiple required>
        {% for c in customerids %}
        <option value="{{ c.real_id }}">{{ c.id }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      <button type="button" onclick="submitJSON('/loan/add', 'loan-add')" class="btn btn-primary">提交</button>
    </div>
  </div>
</form>

{% endblock content %}

{% block tail %}
{{ super() }}
<script src="/static/json-form.js"></script>
{% endblock tail %}
