{% extends "base.html" %}

{% block content %}

<h4>查询贷款信息</h4>

<form id="query-loan">
  <div class="row">
    <div class="form-group col">
      <label for="id" class="col-form-label">ID</label>
      <input type="text" class="col-sm-10 form-control" name="id" maxlength="18" />
    </div>
    <div class="form-group col">
      <label for="tel" class="col-form-label">银行</label>
      <input type="text" class="col-sm-10 form-control" name="bank" maxlength="32" />
    </div>
    <div class="form-group col">
      <label for="name" class="col-form-label">数额</label>
      <input type="text" class="col-sm-10 form-control" name="amount" pattern="\d+" />
    </div>
    <div class="form-group col">
      <label for="address" class="col-form-label">状态</label>
      <select type="text" class="col-sm-10 form-control" name="state" />
        <option selected value="">不选择</option>
        <option value="0">未开始发放</option>
        <option value="1">正在发放</option>
        <option value="2">已全部发放</option>
      </select>
    </div>
  </div>
  <button onclick="query('/loan/query', 'query-loan', ['id', 'bank', 'amount', 'state'])"
          type="button" class="btn btn-primary">提交</button>
</form>

<div class="pt-4 empty" id="result">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">银行</th>
        <th scope="col">数额</th>
        <th scope="col">状态</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<style>
#result.empty::before {
  content: "无结果";
}
#result.empty table {
  display: none;
}
</style>

{% endblock content %}

{% block tail %}
<script src="/static/query.js"></script>
{% endblock tail %}
