{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/echarts@4.8.0/dist/echarts.min.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}

<h4>储蓄业务统计</h4>

<div class="col-sm-2">
  <label>查看方式</label>
  <select id="interval" class="custom-select">
    <option selected value="month">月</option>
    <option value="season">季度</option>
    <option value="year">年</option>
  </select>
</div>

<div class="pt-4" id="customer-stat" style="width: 1000px; height: 400px;"></div>

<div class="pt-4" id="business-stat" style="width: 1000px; height: 400px;"></div>

{% endblock content %}

{% block tail %}
<script src="/static/stats.js?type=save"></script>
{% endblock tail %}
